# Put this file to /etc/systemd/system/
# systemctl enable/start/stop/status easystogu.service

[Unit]
Description=The EasyStogu Portal SpringBoot Service
After=syslog.target network.target
Before=httpd.service

[Service]
User=root
LimitNOFILE=102642
PIDFile=/home/eyaweiw/easystogu/easystogu.pid
ExecStart=java -Dlogging.config=/home/eyaweiw/easystogu/logback.xml -jar /home/eyaweiw/easystogu/easystogu-springboot-app-exec.jar
StandardOutput=null

[Install]
WantedBy=multi-user.target